.network-status {
    position: fixed;
    left: 0;
    bottom: -200px;
    width: 100%;
    /*background: #ecef1a;*/
    padding: 10px;
    font-size: 30px;
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
    /*animation: slideIn 1s;
    animation-fill-mode: forwards;*/
}

.network-status.hidden {
    animation: customSlideDown 1s;
    animation-fill-mode: forwards;
}

.network-status.visible {
    animation: customSlideUp 1s;
    animation-fill-mode: forwards;
}

#kofi{
	align-items: center;
	justify-content: space-evenly;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#form{
	padding: 0px;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.inputBar{
	width: 300px;
	margin-bottom: 15px;
	height: 35px;
}

.sick{
	align-items: center;
	justify-content: space-evenly;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.inputButton{
	width: 100px;
	height: 35px;
	border: 2px solid green;
	border-radius: 10px;
	background-color: maroon;
	text-align: center;
}

.flexy{
	align-items: center;
	justify-content: center;
}

.test{border: 2px solid green}

.testy{border: 2px solid orangered}

.label{
	font-weight: bold;
	margin-top: 20px;
}

hr{
	border-width: 0px;
	margin-bottom: 50px;
}

.sharp{
	border: 2px solid brown;
}

#messages .alert {
  border-radius: 0;
}
#messages .close-btn {
  position: absolute;
  margin-top: -7px;
  right: 0;
  background-color: #ff3547;
   color: white;
}

.ajax-loader {
  width: 100px;
  padding: 5px;
  text-align: center;
  z-index: 50;
  position: fixed;
  top: 10px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}
@keyframes customFadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes customSlideUp {
    100% {
        bottom: 0;
    }
}

@keyframes customSlideDown {
    100% {
        bottom: -200px;
    }
}
