#id_comment {
    width: calc(100% - 70px);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    height: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#id_comment:focus {
    outline: none;
}

#comment-list, #reply-list {
    list-style-type: none;
}

.profile-picture-small {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
