[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-ckeditor = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
requests = "*"
sendgrid = "*"
sendgrid-django = "*"

[dev-packages]
"nose2" = "*"

[requires]
python_version = "3.6"
