<div class="profile-img">
    <h2>Profile</h2>
    <br>

    <form action="" class="row" enctype="multipart/form-data" id="account-settings-form" method="post" role="form">
        {% csrf_token %}
		<div class="col-md-4 test">
        	<div class="text-center">
            	<img alt="profile-img" class="rounded mx-auto d-block"
                	 src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg">
        	</div>
        	<div>
            	{{ profile_settings_form.profile_picture.errors }}
            	{{ profile_settings_form.profile_picture }}
        	</div>
        </div>
		<div class="col-md-8 testy">
        	<div>
            	<label class="label">First Name</label>
           		{{ account_settings_form.first_name.errors }}
            	{{ account_settings_form.first_name }}
        	</div>
        	<div>
            	<label class="label">Last Name</label>
            	{{ account_settings_form.last_name.errors }}
            	{{ account_settings_form.last_name }}
        	</div>
        	<hr>
        	<div>
				<label class="label">Institution</label>
            	{{ profile_settings_form.institution.errors }}
            	{{ profile_settings_form.institution }}
        	</div>
        	<hr>
        	<div>
				<label class="label">Phone Number</label>
            	{{ profile_settings_form.phone_number.errors }}
            	{{ profile_settings_form.phone_number }}
        	</div>
        	<hr>
        	<div class="damzi-button-group flex align-items float-right">
            	<button class="btn btn-outline-warning waves-effect" type="reset">Reset</button>
            	<button class="btn btn-outline-success waves-effect" type="submit">Save</button>
        	</div>
		</div>
    </form>
</div>
<script>
        $('#account-settings-form').submit(function (event) {
            event.preventDefault();
        };

</script>