{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block content %}
    <div class="col-md-7">
        <div id="login_form" class="">
            <div class="" id="form">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="card text-center"> <br>
                      <p class="h3">Sign in</p>

                        <div class="card-body mx-4">
                          {% for field in form %}
                            <div class="" style="min-width:100%">
                              {{ field }}
                            </div>
                          {% endfor %}
                          <div class="d-flex justify-content-around">
                            <div>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                                  <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
                                </div>
                            </div>
                            <div>
                              <a href="{% url 'accounts:password_reset' %}">Forgot password?</a>
                            </div>
                          </div>

                          <div class="text-center mb-4">
                            <button type="submit" class="btn btn-outline-success waves-effect" id="login-btn" disabled>Login</button>
                          </div>
                          <p>Not a member?
                              <a href="{% url 'accounts:register' %}">Register</a>
                          </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
      // event handler for disabling login btn when some fields are empty
      function loginBtnStateHandler() {
        const usernameOrEmailField = document.querySelector('#id_username_or_email');
        const passwordField = document.querySelector('#id_password');
        let loginBtn = document.querySelector('#login-btn');
        if(usernameOrEmailField.value != '' && passwordField.value != '') {
          loginBtn.removeAttribute('disabled');
        }
        else {
          loginBtn.setAttribute('disabled', 'disabled');
        }
      }

    </script>
{% endblock %}
