{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block content %}
    <div id="form" class="col-md-9 row">
 		<div class="col-sm-7 sick" style="background-color: orangered;border-radius: 10px 0px 0px 10px;">
		 	<div>
				<h1>Sign In To Continue</h1>
			</div>
			<form action="" method="post" >
				{% csrf_token %}
				<div>
					{% for field in form %}
                        <div style="min-width:100%">
                        	{{ field }}
                        </div>
                    {% endfor %}
				</div>
				<div>
                	<div style="display:flex;flex-direction: row; justify-content: space-around; margin: 15px 0px;">
						<div class="form-check" >
                   			<input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                       		<label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
                    	</div>
						<div>
                			<a href="{% url 'accounts:password_reset' %}">Forgot password?</a>
            			</div>
					</div>
					<div class="text-center mb-4">
                       	<button type="submit" class="inputButton waves-effect" id="login-btn" disabled>Login</button>
                    </div>
          		</div>
        	</form> 
		</div>
		<div class="col-sm-5 sick" style="background-color: green; border-radius: 0px 10px 10px 0px; ">
			<div>
				<h1>Hey There!,</h1>
			</div>
			Dont have an account?, <br>
			Enter your personal details and start the journey with us
			<button onclick="location.href='{% url 'accounts:register' %}'" class="inputButton waves-effect">
				Register
			</button>	
		</div>
	</div> 

    <script>
      // event handler for disabling login btn when some fields are empty
      	function loginBtnStateHandler() {
        	const usernameOrEmailField = document.querySelector('#id_username_or_email');
        	const passwordField = document.querySelector('#id_password');
        	let loginBtn = document.querySelector('#login-btn');
        	if(usernameOrEmailField.value != '' && passwordField.value != '') {
          		loginBtn.removeAttribute('disabled');
        	}
        	else {
          		loginBtn.setAttribute('disabled', 'disabled');
        	}
      	}
    </script>
{% endblock %}
