{% extends 'library/base.html' %} {% load static %} {% load ads_tags %} {% block title %}Home{% endblock %} 

{% block content %}
<style type="text/css">
  h5 {
    letter-spacing: 2px;
    margin: 0px;
  }
  
  @media (max-width: 768px) {
    .text-topic {
      width: 100%;
      text-align: justify;
      margin: auto;
    }
    .text-detail {
      width: 100%;
      text-align: justify;
      margin: auto;
    }
  }
  /*768px*/
  
  @media (min-width: 992px) {
    .text-topic {
      width: 30%;
      float: left
    }
    .text-detail {
      width: 70%;
      float: right;
      text-align: justify;
    }
  }
</style>

<section>
  <!-- Jumbotron -->
  <div class="card card-image gradient-nav">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">

        <!-- Content -->
        <i class="fas fa-graduation-cap fa-5x"></i>
        <h2 class="card-title h2 my-4 py-2"><strong>Welcome to the new learning experience.</strong></h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5">Over the past 3 years we have been hard at work, doing what we can to deliver to students the best learning experience
          possible. We are getting ever closer to our goal of delivering personalised learning to every student.</p>
        <a href="{% url 'library:about' %}" class="btn gradient-nav"><i class="fas fa-clone left"></i>Read more</a>

      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>

<br>
<div class="container-fluid">
  {% comment %}
  <!-- advertisement 1 -->
  <div>
    <p class="text-center txt-ad-1"><a href="#">Vote for IA for UGSRC President 2019.</a></p>
    {% render_ads_zone 'sidebar' %}
  </div>
  <!-- advertisement 1 -->
  <br>
  {% endcomment %}
  <br>
  <section class="my-courses">
      <!-- container -->
    <div class="container">
        <h5 class="my-4">MY COURSES ({{ selected_courses|length}})</h5>
      <div class="swiper-container">
        <!-- .swiper-container -->
        <div class="swiper-wrapper my-2">

          <!-- if count > 0, show selected courses. else ask them to add a new course-->

          {% if selected_courses|length > 0 %}
            {% for course in selected_courses %}
            <div class="swiper-slide">
              <div class="mdl-card mdl-shadow--4dp" id="course-{{ course.id }}" style="width: 240px !important;">
                <div class="mdl-card__media"><img src="{% static 'account/images/placeholder.jpg' %}" width="100%" alt=""></div>
                <div class="mdl-card__title">{{ course.code }}</div>
                <div class="mdl-card__supporting-text">{{ course.name }}</div>
                <div class="mdl-card__actions mdl-card--border">
                  <a href="{% url 'library:list_topics' course.id %}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Study</a>
                  <a href="#" class="btn-floating btn-sm remove-course-selection-btn" style="position: absolute; top: 0; right: 0;"
                    id="{{ course.id }}"><i class="fa fa-trash"></i>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %} 
          {% else %}
            <h5>You haven't selected any courses yet. <a href="{% url 'library:list_courses' %}">Add one.</a></h5>
          {% endif %}

        </div>

        <!-- If the number of selected courses is less than 4, then no need for the arrows-->
        {% if selected_courses|length > 4 %}
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        {% else %}
        {% endif %}
      </div>
      <!-- /.swiper-container -->
    </div>
    <!-- /.container -->

  </section>
  <br>
  {% comment %}
  <br>
  <!-- advertisement 2 -->
  <div>
    <p class="text-center txt-ad-2"><a href="#">Vote for IA for UGSRC President 2019.</a></p>
  </div>
  <!-- advertisement 2 -->
  {% endcomment %}
</div>
<!-- /.container-fluid -->


<script>
  $('.remove-course-selection-btn').click(
    function (e) {
      e.preventDefault();
      const csrf = $('{% csrf_token %}');
      $.post("{% url 'library:remove_course_selection' %}", {
        course_id: this.id,
        csrfmiddlewaretoken: csrf.val(),
      }, function (data) {
        const courseCard = $('#course-' + data.course_id)
        courseCard.fadeOut("slow", function () {
          courseCard.remove();
        });
        getAndRenderMessages();
      });
    }
  );

</script>

{% endblock %}