{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

    <div id="register_form" class="my-4">
        <form method="post" class="text-center">
            {% csrf_token %}
            <!-- Material form register -->
            <div class="card">
                {{ form.non_field_errors }}
                <h5 class="card-header stylish-color white-text text-center py-4">
                    <strong>Sign up</strong>
                </h5>
            
                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">
                    <div class="form-row">
                        <div class="col">
                            <!-- First name -->
                            <div class="md-form">
                                {{ form.first_name.errors }}
                                <input type="text" id="first_name" name="first_name" class="form-control">
                                <label for="{{ form.first_name.first_name }}">First name</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Last name -->
                            <div class="md-form">
                                {{ form.last_name.errors }}
                                <input type="text" id="last_name" name="last_name" class="form-control">
                                <label for="{{ form.last_name.last_name }}">Last name</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <!-- Username -->
                            <div class="md-form">
                                {{ form.username.errors }}
                                <input type="text" id="username" name="username" class="form-control">
                                <label for="{{ form.username.username }}">Your unique username</label>
                                <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                                    For additional account security
                                </small>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Email -->
                            <div class="md-form">
                                {{ form.email.errors }}
                                <input type="email" id="email" name="email" class="form-control">
                                <label for="{{ form.email.email }}">Your e-mail address</label>
                                <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                                    Use a valid email
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <!-- Password -->
                            <div class="md-form">
                                {{ form.password.errors }}
                                <input type="password" id="password" name="password" class="form-control">
                                <label for="{{ form.password.password }}">Your password</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Confirm password -->
                            <div class="md-form">
                                {{ form.confirm_password.errors }}
                                <input type="password" id="confirm_password" name="confirm_password" class="form-control">
                                <label for="{{ form.confirm_password.confirm_password }}">Confirm your password</label>
                            </div>
                        </div>
                    </div>
                    
                        <!-- Sign up button -->
                        <button class="btn btn-outline-elegant btn-rounded my-4 waves-effect z-depth-0" type="submit">Register</button>
                            <!-- Register -->
                            <p>Have an account?
                                <a href="{% url 'accounts:login' %}" class="dark-grey-text font-bold ml-1" id="signin">Sign In</a>
                            </p>

            
                </div>
            
            </div>
            <!-- Material form register -->
        </form>
    </div>
{% endblock %}
