{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<div id="form" class="col-md-9 row">
	<div class="col-md-4 sick" style="background-color: green;border-radius: 10px 0px 0px 10px;">
		<div>
			<h1>Welcome back!,</h1>
		</div>
			To continue, <br>
			Please login with your personal info
			<button onclick="location.href='{% url 'accounts:login' %}'" class="inputButton waves-effect">
				Register
			</button>
	</div>
	<div class="col-md-8 sick" style="background-color: orangered;border-radius: 0px 10px 10px 0px;">
            <div>
				<h1>Sign Up To Continue</h1>
			</div>
			<form action="" method="post" >
				{% csrf_token %}
				<div>
					<div class="form-row">
                        <div class="col">
                            <div class="md-form" style="min-width:100%">
                                <div class="">
                                    {{ form.first_name.errors }}
                                    <input class="form-control" type="text" id="first_name" name="first_name" placeholder="Your first name">
                                    <label for="{{ form.first_name.first_name }}" class=""></label>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="md-form" style="min-width:100%">
                                <div class="">
                                    {{ form.last_name.errors }}
                                    <input class="form-control" type="text" id="last_name" name="last_name" placeholder="Your last name">
                                    <label for="{{ form.last_name.last_name }}" class=""></label>
                                </div>
            	            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <div class="md-form" style="min-width:100%">
                                <div class="">
                                    {{ form.username.errors }}
                                    <input class="form-control" type="text" id="username" name="username" placeholder="Your unique username">
                                    <label for="{{ form.username.username }}" class=""></label>
                                    <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                                        For additional account security
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="md-form" style="min-width:100%">
                                <div class="">
                                    {{ form.email.errors }}
                                    <input class="form-control" type="email" id="email" name="email" placeholder="Your email">
                                    <label for="{{ form.email.email }}" class=""></label>
                                    <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                                        Use a valid email
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <div class="md-form" style="min-width:100%">
                                <div class="">
                                    {{ form.password.errors }}
                                    <input class="form-control" type="password" id="password" name="password" placeholder="Your password">
                                    <label for="{{ form.password.password }}" class=""></label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="md-form" style="min-width:100%">
                                <div class="">
                                    {{ form.confirm_password.errors }}
                                    <input class="form-control" type="password" id="confirm_password" name="confirm_password" placeholder="Confirm your password">
                                    <label for="{{ form.confirm_password.confirm_password }}" class=""></label>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
				<div>
                	<div style="display:flex;flex-direction: row; justify-content: space-around; margin: 15px 0px;padding:0px">
						<div class="form-check" style="border:2px solid red">
                   			<input type="checkbox" class="form-check-input" id="materialLoginFormRemember" style="position:relative;margin:0px">
                       		<label class="form-check-label" for="materialLoginFormRemember" style="position:relative;margin:0px">Remember me</label>
                    	</div>
					</div>
					<div class="text-center mb-4">
                       	<button type="submit" class="inputButton waves-effect" id="login-btn" disabled>Register</button>
                    </div>
          		</div>
        	</form> 
    </div>
</div>
{% endblock %}
