{% extends 'accounts/settings_base.html' %}

{% block title %}Settings{% endblock %}

{% block page_title %}Settings{% endblock %}

{% block main %}
  <div class="container-fluid">
    <div class="row flex align-items justify-content" id="settings">
      <a href="{% url 'accounts:account_settings' %}" class="col-md-5 options bg-light">Account</a>
      <a href="" class="col-md-5 options bg-light">Courses</a>
      <a href="{% url 'accounts:security_settings' %}" class="col-md-5 options bg-light">Security</a>
      <a href="" class="col-md-5 options bg-light">Delete Account</a>
    </div>
{% endblock %}
