{% extends 'library/base.html' %}
{% load static %}

{% block content %}
<div class="container">
                <div class="row">
                    <div class="col-md-12">

                	<center><h3>List of topics</h3></center>
                	<!--course generator-->
                        {% for ugrc_topic in ugrc.ugrc_topic_set.all %}
                            <div class="card">
                                <div class="card-header light-green darken-1 lighten-1 white-text">
                                    {{ ugrc.ugrc }}
                                </div>

                                <div class="card-body">
                                    <h4 class="card-title">{{ ugrc_topic.title }}</h4>
                                    <!--<p class="card-text">Sample text</p>-->
                                    <a href="{% url 'accounts:content' ugrc_topic.id %}" class="btn damzinium-green-head">READ</a>
                                </div>
                            </div>
                            <!--/course generator--><br/>
                        {% endfor %}

                    </div></div></div>
{% endblock %}
