{% extends 'accounts/settings_base.html' %}

{% block title %}Change Phone Number{% endblock %}

{% block back_href %}{% url 'accounts:account_settings' %}{% endblock %}

{% block page_title %}Change your phone number{% endblock %}

{% block main %}
  <div class="container-fluid">
    <div class="row flex align-items justify-content">
      <div class="col-md-4">
        <form action="" method="post" role="form" class="">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              {{ field.errors }}
              {{ field }}
            </div>
          {% endfor %}
          <div class="damzi-button-group flex align-items justify-content">
            <button type="reset" class="btn btn-warning">Reset</button>
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
{% endblock %}
