.errorlist {
    list-style: none;
    padding: 5px;
    margin: 0;
}
.field-errors-group {
    border: 1px solid red;
}
select {
    width: 100%;
}
/* Please someone has to make this better */
@media screen and (min-width: 578px) {
    #id_date_of_birth_day, #id_date_of_birth_month, #id_date_of_birth_year {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    #id_date_of_birth_day, #id_date_of_birth_month, #id_date_of_birth_year {
        width: calc(100% / 3);
    }
}
/* */