{% extends 'accounts/base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
    <div class="col-md-7">
        <div id="login_form" class="">
            <div class="" id="form">
                <form method="post">
                    {% csrf_token %}
                    <div class="card ">
                        <!--Header-->
                        <div class="header damzi-green-deep">
                          <div class="row">
                            <h3 class="white-text mt-3 mb-11z pb-1 mx-5">Check your inbox.</h3>
                          </div>
                        </div>
                        <!--Header-->
                        <div class="card-body mx-4 mt-4">
                            <p>We've emailed you instructions for setting your new password</p><br>
                            <p><em>If you don't receive an email, please make sure you've entered the address you registered
    with and check your spam folder</em></p>
                          <!--Body-->
                            {{ form.as_p }}
                            <a href="{% url 'accounts:login' %}">Return to sign in</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}