{% for message in messages %}
  {% if message.level == 20 %}
    <li class="alert alert-info">
      <i class="fa fa-info"></i>
      {{ message }}
      <a href="#" class="close-btn btn-sm btn-floating mdl-js-ripple-effect" >
        <i class="fa fa-close"></i>
      </a>
    </li>
  {% elif message.level == 25 %}
    <li class="alert alert-success">
      <i class="fa fa-check"></i>
      {{ message }}
      <a href="#" class="close-btn btn-sm btn-floating mdl-js-ripple-effect" >
        <i class="fa fa-close"></i>
      </a>
    </li>
  {% elif message.level == 30 %}
    <li class="alert alert-warning">
      <i class="fa fa-warning"></i>
      {{ message }}
      <a href="#" class="close-btn btn-sm btn-floating mdl-js-ripple-effect" >
        <i class="fa fa-close"></i>
      </a>
    </li>
  {% else %}
    <li class="alert alert-danger">
      <i class="fa fa-close"></i>
      {{ message }}
      <a href="#" class="close-btn btn-sm btn-floating mdl-js-ripple-effect" >
        <i class="fa fa-close"></i>
      </a>
    </li>
    {% endif %}
{% endfor %}
<script>
  $('#messages .close-btn').click(function (e) {
    e.preventDefault();
    const message = $(this).parent();
    message.fadeOut("fast", function () {
      message.remove();
    });
  });
</script>
